<div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='center'>
  <div class='item item-1' fxFlex='30%' fxLayoutAlign='center center'>
    <button class='rBtn' mat-raised-button (click)='landReassessment()' color='primary'>Land Reassessment</button>
  </div>
  <div class='item item-2' fxFlex='30%' fxLayoutAlign='center center'>
    <button class='rBtn' mat-raised-button (click)='buildingReassessment()' color='primary'>Building Reassessment</button>
  </div>
  <div class='item item-3' fxFlex='30%' fxLayoutAlign='center center'>
    <button class='rBtn' mat-raised-button color='primary'>Machinery Reassessment</button>
  </div>
  <br><br><br><br>
</div>
