.mat-card form .mat-card-content .mat-form-field { width: 100% }
/*.login-form { margin: 50px 20% 50px 20%; }*/
img { width: 220px; height: 220px; }
button { width: 50%; }
.center { text-align: center; }
.login-form { margin: 30px 20% 50px 20%; }

@media (max-width: 999px){
  .login-form {
    margin: 30px 5% 50px 5%;
    }
}
