.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
}

.spanRPT {
  width: 1110px;
}
/* .sidenav .mat-toolbar {
  background: #ffffff;
  height: auto;
} */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar img {
  width: 100%;
  height: auto;
}

.mat-sidenav-content {
  margin-bottom: 70px;
}

.mat-menu {
  width:500px;
}

.fsze {
  font-size: 13px;
  text-align: right;
}

@media (max-width: 425px){
.user{
  display: none;
}
}