<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [opened]="false">
    <mat-toolbar color="primary" (click)='show = !show; drawer.toggle()'>
      <!-- <img src='../assets/SPCLOGO.png'>
      <span *ngIf='nonAuth()'>Menu</span>
      <span *ngIf='loggedIn()'>{{ userFullName }}</span>-->
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list *ngIf='nonAuth()' (click)="drawer.toggle()">
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/register">Register</a>
    </mat-nav-list>
    <mat-nav-list *ngIf='loggedIn()'>
      <div *ngFor='let nav of navs' (click)="show = !show; drawer.toggle()">
        <a mat-list-item routerLink="{{nav.route}}">{{nav.text}}</a>
      </div>
      <a mat-list-item (click)="show = !show" ng-model="show">
        Land Tax
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon *ngIf="!show">expand_more</mat-icon>
        <mat-icon *ngIf="show">expand_less</mat-icon>
      </a>
      <div *ngIf="show">
        <a mat-list-item (click)='show = !show; drawer.toggle(); gotoClearance();' class='fsze'>
          <mat-icon>arrow_right</mat-icon>&nbsp;Clearance
        </a>
        <a mat-list-item class='fsze' (click)="show = !show; drawer.toggle()">
          <mat-icon>arrow_right</mat-icon>&nbsp;RPTOP
        </a>
      </div>

      <hr width='90%'>
      <div (click)="drawer.toggle()">
        <a mat-list-item (click)="logOut()">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class='spanRPT'>RPT Web Application</span>
      <span *ngIf='loggedIn()'>{{ userFullName }}</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
