<form [formGroup]='bldgAssessment' novalidate>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Building</mat-card-title>
    </mat-card-header>

    <mat-card>
      <mat-card-content>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div fxFlex='91%'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <mat-label>Transaction Code</mat-label>
              <mat-select formControlName='bldgCode' required>
                <mat-option *ngFor='let bldg of bldgOpt' [value]='bldg.value'>{{ bldg.viewVal }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' placeholder='ARP No.' formControlName='arpNo' required>
          </mat-form-field>

          <div formGroupName='pin' class='item item-2' fxFlex='60%'>
            <span>PIN* </span>
            <mat-form-field class='width-10'>
              <input matInput type='text' formControlName='city' required>
            </mat-form-field>

            <span>-</span>
            <mat-form-field class='width-10'>
              <input matInput type='text' formControlName='district' required>
            </mat-form-field>

            <span>-</span>
            <mat-form-field class='width-10'>
              <input matInput type='text' formControlName='barangay' required>
            </mat-form-field>

            <span>-</span>
            <mat-form-field class='width-10'>
              <input matInput type='text' formControlName='section' required>
            </mat-form-field>

            <span>-</span>
            <mat-form-field class='width-10'>
              <input matInput type='text' formControlName='parcel' required>
            </mat-form-field>

            <span>&nbsp;&nbsp;&nbsp;</span>
            <button type='button' mat-raised-button color='primary' (click)='chckPIN()'>Check PIN</button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

    <!-- owners -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Owner Details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='ownerDetails'>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='ownfName' placeholder='First name' required>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='ownmName' placeholder='Middle name'>
          </mat-form-field>

          <mat-form-field class='item item-3' fxFlex='30%'>
            <input matInput type='text' formControlName='ownlName' placeholder='Last name' required>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='92%'>
            <input matInput type='text' formControlName='ownaddress' placeholder='Address' required>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='owncontact' placeholder='Contact No.'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='ownTIN' placeholder='TIN No.'>
          </mat-form-field>

          <button mat-raised-button type='button' class='item item-3' fxFlex='30%' color='primary'
            (click)="addOwner(bldgAssessment.get('ownerDetails'))">Add</button>
        </div>
        <br>

        <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
          <table mat-table class='mat-elevation-z8 owner-table item item-1' fxFlex='92%' [dataSource]='ownersLs'>
            <ng-container matColumnDef='name'>
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownName }}</td>
            </ng-container>
            <ng-container matColumnDef='address'>
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownAddress }}</td>
            </ng-container>
            <ng-container matColumnDef='contact'>
              <th mat-header-cell *matHeaderCellDef>Contact</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownContact }}</td>
            </ng-container>
            <ng-container matColumnDef='tin'>
              <th mat-header-cell *matHeaderCellDef>TIN</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownTIN }}</td>
            </ng-container>
            <ng-container matColumnDef='actions'>
              <th mat-header-cell *matHeaderCellDef></th>
              <mat-cell *matCellDef='let row'>
                <button type='button' (click)='removeOwnerDetail(row)' mat-icon-button color='warn'>
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='ownerHeader'></tr>
            <tr mat-row *matRowDef='let row; columns: ownerHeader'></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- admin / beneficial users -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Administrator / Beneficial User</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='adminOwnerLs'>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='admfName' placeholder='First name' required>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='admmName' placeholder='Middle name'>
          </mat-form-field>

          <mat-form-field class='item item-3' fxFlex='30%'>
            <input matInput type='text' formControlName='admlName' placeholder='Last name' required>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='92%'>
            <input matInput type='text' formControlName='admaddress' placeholder='Address' required>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='admcontact' placeholder='Contact No.'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='admTIN' placeholder='TIN No.'>
          </mat-form-field>

          <button mat-raised-button type='button' class='item item-3' fxFlex='30%' color='primary'
            (click)='addAdmin()'>Add</button>
        </div>
        <br>

        <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
          <table mat-table class='mat-elevation-z8 owner-table' fxFlex='92%' [dataSource]='adminsLs'>
            <ng-container matColumnDef='name'>
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef='let data'>{{ data.admName }}</td>
            </ng-container>
            <ng-container matColumnDef='address'>
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef='let data'>{{ data.admAddress }}</td>
            </ng-container>
            <ng-container matColumnDef='contact'>
              <th mat-header-cell *matHeaderCellDef>Contact</th>
              <td mat-cell *matCellDef='let data'>{{ data.admContact }}</td>
            </ng-container>
            <ng-container matColumnDef='tin'>
              <th mat-header-cell *matHeaderCellDef>TIN</th>
              <td mat-cell *matCellDef='let data'>{{ data.admTIN }}</td>
            </ng-container>
            <ng-container matColumnDef='actions'>
              <th mat-header-cell *matHeaderCellDef></th>
              <mat-cell *matCellDef='let row'>
                <button type='button' (click)='removeAdminDetail(row)' mat-icon-button color='warn'>
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='adminHeader'></tr>
            <tr mat-row *matRowDef='let row; columns: adminHeader'></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <!--buildingLocation-->
    <mat-card>
      <mat-card-content formGroupName='buildingLoc'>
        <mat-card-header>
          <mat-card-subtitle>Building Location</mat-card-subtitle>
        </mat-card-header>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' placeholder='No./ Street' formControlName='numSt'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' placeholder='Bldg./ Location' formControlName='bldgLoc'>
          </mat-form-field>

          <mat-form-field class='item item-3' fxFlex='30%'>
            <input matInput type='text' placeholder='Province' formControlName='prov'>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' placeholder='Brgy./ District' formControlName='brgy'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' placeholder='Subdivision' formControlName='subd'>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

    <!--landReference-->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Land Reference</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='landRef'>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='lndOwnr' placeholder='Owner'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='lndcloa' placeholder='OCT/TCT/CLOA No.'>
          </mat-form-field>

          <mat-form-field class='item item-3' fxFlex='30%'>
            <input matInput type='text' formControlName='lndsno' placeholder='Survey No.'>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='lndlotno' placeholder='Lot No.'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='lndblkno' placeholder='Blk No.'>
          </mat-form-field>

          <mat-form-field class='item item-3' fxFlex='30%'>
            <input matInput type='text' formControlName='lndarp' placeholder='TDN / ARP No.'>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='92%'>
            <input matInput type='text' formControlName='lndarea' placeholder='Area'>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <!--generalDescription -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>General Description</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='genDescG'>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <mat-label>Kind of Building</mat-label>
            <mat-select formControlName='genDesc' required>
              <mat-option *ngFor='let kindOfBldg of kof' [value]='kindOfBldg.value'>{{ kindOfBldg.viewVal }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput placeholder='Cert. of Completion Issued On' [matDatepicker]="certcom"
              formControlName='certcom' required>
            <mat-datepicker-toggle matSuffix [for]="certcom"></mat-datepicker-toggle>
            <mat-datepicker #certcom></mat-datepicker>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <mat-label>Structural Type</mat-label>
            <mat-select formControlName='strType' required>
              <mat-option *ngFor='let sType of st' [value]='sType.value'>{{ sType.viewVal }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput placeholder='Cert. of Occupancy Issued On' [matDatepicker]="certOcc"
              formControlName='certOcc' required>
            <mat-datepicker-toggle matSuffix [for]="certOcc"></mat-datepicker-toggle>
            <mat-datepicker #certOcc></mat-datepicker>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='bldgPNo' placeholder='Building Permit No.'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput placeholder='Date Constructed / Completed' [matDatepicker]="dateCC" formControlName='dateCC'
              required>
            <mat-datepicker-toggle matSuffix [for]="dateCC"></mat-datepicker-toggle>
            <mat-datepicker #dateCC></mat-datepicker>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput placeholder='Permit Issued On' [matDatepicker]="permitIssue" formControlName='permitIssue'
              required>
            <mat-datepicker-toggle matSuffix [for]="permitIssue"></mat-datepicker-toggle>
            <mat-datepicker #permitIssue></mat-datepicker>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput placeholder='Date Occupied' [matDatepicker]="dateOccupied" formControlName='dateOccupied'
              required>
            <mat-datepicker-toggle matSuffix [for]="dateOccupied"></mat-datepicker-toggle>
            <mat-datepicker #permitIssue></mat-datepicker>
          </mat-form-field>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='30%'>
            <input matInput type='text' formControlName='cct' placeholder='Condominium Certificate of Title (CCT)'>
          </mat-form-field>

          <mat-form-field class='item item-2' fxFlex='30%'>
            <input matInput type='text' formControlName='aob' placeholder='Age of Building' required>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

    <!--StructuralDesctription-->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Structural Description</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='strDescG'>

        <div class='container' fxLayout fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign='center'
          fxLayoutGap='10px' fxLayoutGap.sm='10px' fxLayoutGap.xs='10px'>
          <mat-form-field class='item item-1' fxFlex='45%'>
            <input matInput type='text' formControlName='numStorey' placeholder='No. of Storey' required>
          </mat-form-field>

          <div fxFlex='45%' class='container' fxLayout fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign='center'
            fxLayoutGap='10px' fxLayoutGap.sm='10px' fxLayoutGap.xs='10px'>
            <mat-card class='item item-2'>
              <!-- AREA -->
              <mat-card-header>
                <mat-card-subtitle>Area</mat-card-subtitle>
              </mat-card-header>

              <div class='container' fxLayout fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign='left'
                fxLayoutGap='10px' fxLayoutGap.sm='10px' fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='50%'>
                  <mat-label>Building Floors</mat-label>
                  <mat-select formControlName='bldgflrs'>
                    <mat-option *ngFor='let bldgFloors of bflr' [value]='bldgFloors.value'>{{ bldgFloors.viewVal }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class='item item-2' fxFlex='50%'>
                  <mat-label>Floor Area (m²)</mat-label>
                  <mat-select formControlName='flrArea'>
                    <mat-option *ngFor='let floorArea of flrA' [value]='floorArea.value'>{{ floorArea.viewVal }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign='left'
                fxLayoutGap='10px' fxLayoutGap.sm='10px' fxLayoutGap.xs='10px'>
                <mat-checkbox formControlName='chckBoxFlrA' class='item item-1' (click)='smeAreaToggleBtn()'>Floor with
                  same Area</mat-checkbox>
              </div>

              <div class='container' fxLayout fxLayout.sm='column' fxLayout.xs='column' fxLayoutAlign='left'
                fxLayoutGap='10px' fxLayoutGap.sm='10px' fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='30%'>
                  <mat-label>From</mat-label>
                  <mat-select formControlName='flr1'>
                    <mat-option *ngFor='let floorAreaFrom of flrArea1' [value]='floorAreaFrom.value'>
                      {{ floorAreaFrom.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class='item item-2' fxFlex='30%'>
                  <mat-label>To</mat-label>
                  <mat-select formControlName='flr2'>
                    <mat-option *ngFor='let floorAreaTo of flrArea2' [value]='floorAreaTo.value'>
                      {{ floorAreaTo.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button mat-raised-button type='button' class='item item-3' color='primary' fxFlex='40%'>Apply</button>
                <br><br>
              </div>

            </mat-card>
          </div>
        </div>

        <!-- Roof-Flooring-wallsAndPartitions -->
        <br>
        <mat-card>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <!--ROOF-->
            <div class="item item-1" fxFlex="30%">Roof

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <mat-label>Materials</mat-label>
                  <mat-select formControlName='mats'>
                    <mat-option *ngFor='let matsOptions of matsOpts' [value]='matsOptions.value'>
                      {{ matsOptions.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-checkbox formControlName='othrsCB' (click)='toggleMats()'>Others (Specify)</mat-checkbox>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <input matInput type='text' formControlName='materials'>
                </mat-form-field>
              </div>
            </div><br>

            <!--FLOORING-->
            <div class="item item-2" fxFlex="30%">Flooring
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <mat-label>Building Floors</mat-label>
                  <mat-select formControlName='bldgflrs2'>
                    <mat-option *ngFor='let bflrs2 of bldgflrsOpts' [value]='bflrs2.value'>{{ bflrs2.viewVal }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <mat-label>Material</mat-label>
                  <mat-select formControlName='mats2'>
                    <mat-option *ngFor='let mtrl of mats2' [value]='mtrl.value'>{{ mtrl.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-checkbox formControlName='othrsCB2' (click)='cbtoggle()'>Others (Specify)</mat-checkbox>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field fxFlex="100%">
                  <input matInput type='text' formControlName='othrs2'>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-checkbox formControlName='flrsameMatsCB' (click)='flrMatsToggle()'>Floor w/ same Materials
                </mat-checkbox>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="48%">
                  <mat-label>From</mat-label>
                  <mat-select formControlName='flr3'>
                    <mat-option *ngFor='let floorAreaFrom3 of flrArea3' [value]='floorAreaFrom3.value'>
                      {{ floorAreaFrom3.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="item item-2" fxFlex="48%">
                  <mat-label>To</mat-label>
                  <mat-select formControlName='flr4'>
                    <mat-option *ngFor='let floorAreaFrom4 of flrArea4' [value]='floorAreaFrom4.value'>
                      {{ floorAreaFrom4.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <button mat-raised-button type='button' class="item item-1" fxFlex="100%" color='primary'>Apply</button>
              </div>
            </div><br>

            <!--WALLandPARTITIONS-->
            <div class="item item-3" fxFlex="30%">Wall and Partitions
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <mat-label>Building Floors</mat-label>
                  <mat-select formControlName='bldgflrs3'>
                    <mat-option *ngFor='let bflrs3 of bldgflrsOpts2' [value]='bflrs3.value'>{{ bflrs3.viewVal }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <mat-label>Material</mat-label>
                  <mat-select formControlName='mats3'>
                    <mat-option *ngFor='let mtrls2 of mats3' [value]='mtrls2.value'>{{ mtrls2.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-checkbox formControlName='othrsCB3' (click)='cbtoggle2()'>Others (Specify)</mat-checkbox>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="100%">
                  <input matInput type='text' formControlName='othrs3'>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-checkbox formControlName='flrsameMatsCB2' (click)='flrsmeMatsToggle()'>Floor w/ same Materials
                </mat-checkbox>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class="item item-1" fxFlex="48%">
                  <mat-label>From</mat-label>
                  <mat-select formControlName='flr5'>
                    <mat-option *ngFor='let floorAreaFrom5 of flrArea5' [value]='floorAreaFrom5.value'>
                      {{ floorAreaFrom5.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="item item-2" fxFlex="48%">
                  <mat-label>To</mat-label>
                  <mat-select formControlName='flr6'>
                    <mat-option *ngFor='let floorAreaFrom6 of flrArea6' [value]='floorAreaFrom6.value'>
                      {{ floorAreaFrom6.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <button mat-raised-button type='button' class="item item-1" fxFlex="100%" color='primary'>Apply</button>
              </div>

            </div>
          </div>
        </mat-card>
        <!-- -->

        <!-- FLOOR HEIGHT - BASIC RATE PER METER - ADJUSTED BASIC RATE - BUILDING FLOORS -->
        <br>
        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div class="item item-1" fxFlex="30%">
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='flrheight' placeholder="Floor Height">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='stndrdheight' placeholder="Standard Height">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='xcessDefHeight' placeholder="Excess / Deficient Height">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <mat-label>Floor Type</mat-label>
                <mat-select formControlName='floortype'>
                  <mat-option *ngFor='let ftype of floortypeOpts' [value]='ftype.value'>{{ ftype.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="item item-2" fxFlex="30%">
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='basicRatePerMeter' placeholder="Basic Rate Per Meter(%)">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='basicRateVal' placeholder="Basic Rate Value">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='aCost' placeholder="Additional Cost">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <mat-label>Building Floors</mat-label>
                <mat-select formControlName='buildingFlrs'>
                  <mat-option *ngFor='let bflrsopts of buildingFlrsOpts' [value]='bflrsopts.value'>
                    {{ bflrsopts.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="item item-3" fxFlex="30%">
            <div>
              <mat-form-field class="item item-3" fxFlex="100%">
                <input matInput type='text' formControlName='adjstdBasicRate' placeholder="Adjusted Basic Rate">
              </mat-form-field>
            </div>
            <div>
              <mat-checkbox formControlName='flrsameMatsCB3' (click)='flrMatsToggle2()'>Floor w/ same Materials
              </mat-checkbox>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
              fxLayoutGap.xs='10px'>
              <mat-form-field class="item item-2" fxFlex="49%">
                <mat-label>From</mat-label>
                <mat-select formControlName='flr7'>
                  <mat-option *ngFor='let floorAreaFrom5 of flrArea5' [value]='floorAreaFrom5.value'>
                    {{ floorAreaFrom5.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item item-2" fxFlex="48%">
                <mat-label>To</mat-label>
                <mat-select formControlName='flr8'>
                  <mat-option *ngFor='let floorAreaFrom6 of flrArea6' [value]='floorAreaFrom6.value'>
                    {{ floorAreaFrom6.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button type='button' fxFlex="100%" color='primary'>Apply</button>
            </div>
          </div>
        </div><br><br>

        <!-- Structural Description Table -->
        <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
          <table mat-table class='mat-elevation-z8 owner-table item item-1' fxFlex='92%'>
            <ng-container matColumnDef='Floor No.'>
              <th mat-header-cell *matHeaderCellDef>Floor No.</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Area'>
              <th mat-header-cell *matHeaderCellDef>Area</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Flooring Material'>
              <th mat-header-cell *matHeaderCellDef>Flooring Material</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Wall Material'>
              <th mat-header-cell *matHeaderCellDef>Wall Material</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Floor Height'>
              <th mat-header-cell *matHeaderCellDef>Floor Height</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Standard Height'>
              <th mat-header-cell *matHeaderCellDef>Standard Height</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Adjusted Basic Rate'>
              <th mat-header-cell *matHeaderCellDef>Adjusted Basic Rate</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>
            <ng-container matColumnDef='Floor Type'>
              <th mat-header-cell *matHeaderCellDef>Floor Type</th>
              <td mat-cell *matCellDef='let data'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='strDescHeader'></tr>
            <tr mat-row *matRowDef='let row; columns: strDescHeader'></tr>
          </table>
        </div>

        <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
          <table class='item item-1' fxFlex='92%'>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput type='text' formControlName='totalArea' placeholder="Total Area">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type='text' formControlName='totalCost' placeholder="Total Cost">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>

        <!-- -->
      </mat-card-content>
    </mat-card>

    <!-- Additional Items -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Additional Items</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='additionalItems'>
        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div class="item item-1" fxFlex="31%">
            <div>
              <mat-form-field fxFlex="100%">
                <mat-label>Additional Item</mat-label>
                <mat-select formControlName='aItem'>
                  <mat-option *ngFor='let aiOpts of aItemOpts' [value]='aiOpts.value'>{{ aiOpts.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <mat-label>Sub Type</mat-label>
                <mat-select formControlName='subType'>
                  <mat-option *ngFor='let sbtypOpts of stOpts' [value]='sbtypOpts.value'>{{ sbtypOpts.viewVal }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='szem2' placeholder='Size (m²)' required>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='uCost' placeholder='Unit Cost'>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='tCost' placeholder='Total Cost'>
              </mat-form-field>
            </div>

            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
              fxLayoutGap.xs='10px'>
              <div class="item item-1" fxFlex="50%">
                <button fxFlex="100%" mat-raised-button type='button' color='primary'
                  (click)='addAddItems()'>Add</button>
              </div>
              <div class="item item-2" fxFlex="50%">
                <button fxFlex="100%" mat-raised-button type='button' color='primary'>Remove</button>
              </div>
            </div><br>
          </div>

          <div class="item item-2" fxFlex="60%">
            <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
              <table mat-table class='mat-elevation-z8 owner-table' [dataSource]='addItemsTable'>
                <ng-container matColumnDef='aItm'>
                  <th mat-header-cell *matHeaderCellDef>Additional Item</th>
                  <td mat-cell *matCellDef='let data'>{{ data.adItms }}</td>
                </ng-container>
                <ng-container matColumnDef='sType'>
                  <th mat-header-cell *matHeaderCellDef>Sub Type</th>
                  <td mat-cell *matCellDef='let data'>{{ data.sTyp }}</td>
                </ng-container>
                <ng-container matColumnDef='sizem2'>
                  <th mat-header-cell *matHeaderCellDef>Size (m²)</th>
                  <td mat-cell *matCellDef='let data'>{{ data.sizeSqrd }}</td>
                </ng-container>
                <ng-container matColumnDef='untCost'>
                  <th mat-header-cell *matHeaderCellDef>Unit Cost</th>
                  <td mat-cell *matCellDef='let data'>{{ data.uc }}</td>
                </ng-container>
                <ng-container matColumnDef='totalC'>
                  <th mat-header-cell *matHeaderCellDef>Total Cost</th>
                  <td mat-cell *matCellDef='let data'>{{ data.tc }}</td>
                </ng-container>
                <ng-container matColumnDef='actions'>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <mat-cell *matCellDef='let row'>
                    <button type='button' (click)='removeAI(row)' mat-icon-button color='warn'>
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef='aItemHeader'></tr>
                <tr mat-row *matRowDef='let row; columns: aItemHeader'></tr>
              </table>
            </div>
            <div class='item item-3'>
              <mat-form-field fxFlex='30%'>
                <input matInput type='text' formControlName='aItemTotal' placeholder='Total'>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Property Appraisal -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Property Appraisal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='propertyAppraisal'>
        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div class='item item-1' fxFlex='92%'>
            <mat-checkbox formControlName='unPainted'>Unpainted</mat-checkbox>
            &nbsp;&nbsp;
            <mat-checkbox formControlName='scndhndMat'>Second Hand Material</mat-checkbox>
          </div>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div class="item item-1" fxFlex="30%">
            <mat-form-field fxFlex='100%'>
              <mat-label>Type of Building</mat-label>
              <mat-select formControlName='tob' required>
                <mat-option *ngFor='let typOfBldg of toBldg' [value]='typOfBldg.value'>{{ typOfBldg.viewVal }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="item item-2" fxFlex="30%">
            <mat-form-field fxFlex='100%'>
              <mat-label>Building Rating</mat-label>
              <mat-select formControlName='bldgRating' required>
                <mat-option *ngFor='let bldgRtng of bRating' [value]='bldgRtng.value'>{{ bldgRtng.viewVal }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="item item-2" fxFlex="30%"></div>
        </div>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div class="item item-1" fxFlex="30%">
            <mat-card-header>
              <mat-card-subtitle>Building Core</mat-card-subtitle>
            </mat-card-header>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='untConstCost' placeholder='Unit Construction Cost'>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='subTotal' placeholder='Sub - Total'>
              </mat-form-field>
            </div>
          </div>

          <div class="item item-2" fxFlex="30%">
            <mat-card-header>
              <mat-card-subtitle>Cost of Additional Items</mat-card-subtitle>
            </mat-card-header>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='CoAiSubTotal' placeholder='Sub - Total'>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='totalConstCost' placeholder='Total Construction Cost'>
              </mat-form-field>
            </div>
          </div>

          <div class="item item-3" fxFlex="30%">
            <mat-card-header>
              <mat-card-subtitle>Depreciation</mat-card-subtitle>
            </mat-card-header>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='depRate' placeholder='Depreciation Rate'>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='totalDep' placeholder='Total % Depreciation'>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='depCost' placeholder='Depreciation Cost'>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='marketVal' placeholder='Market Value'>
              </mat-form-field>
            </div>
          </div>

        </div>

      </mat-card-content>
    </mat-card>

    <!--propertyAssessment-->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Property Assessment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content formGroupName='propertyAssessment'>

        <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
          fxLayoutGap.xs='10px'>
          <div class="item item-1" fxFlex="45%">
            <div>
              <mat-form-field fxFlex="100%">
                <mat-label>Actual Use</mat-label>
                <mat-select formControlName='actualUse' required>
                  <mat-option *ngFor='let auOpts of actualUseOpts' [value]='auOpts.value'>{{ auOpts.viewVal }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='propAsmtMarketVal' placeholder='Market Value'>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='AsmtLevel' placeholder='Assessment Level (%)'>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='AsmtVal' placeholder='Assessment Value'>
              </mat-form-field>
            </div>
          </div>

          <div class="item item-2" fxFlex="45%">
            <div>
              <mat-checkbox formControlName='spclClass'>Special Class</mat-checkbox>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <mat-label>Status</mat-label>
                <mat-select formControlName='status' required>
                  <mat-option *ngFor='let statusOpt of statsOpts' [value]='statusOpt.value'>{{ statusOpt.viewVal }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            Effectivity of Assessment / Reassessment*
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
              fxLayoutGap.xs='10px'>

              <div class="item item-1" fxFlex="50%">
                <mat-form-field fxFlex="100%">
                  <mat-label>Quarter</mat-label>
                  <mat-select formControlName='qrtr'>
                    <mat-option *ngFor='let quarterOpts of qrtrOpts' [value]='quarterOpts.value'>
                      {{ quarterOpts.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="item item-2" fxFlex="50%">
                <mat-form-field fxFlex="100%">
                  <mat-label>Year</mat-label>
                  <mat-select formControlName='yr' (click)='yrOptions()'>
                    <mat-option *ngFor='let years of yrOpts' [value]='years.value'>{{ years.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type='text' formControlName='propAsmtTotal' placeholder='Total'>
              </mat-form-field>
            </div>

          </div>
        </div>

        <mat-card>

          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <div class="item item-1" fxFlex="30%">
              <div>
                <mat-form-field fxFlex="100%">
                  <input matInput type='text' formControlName='appraisedBy' placeholder='Appraised By'>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field fxFlex="100%">
                  <input matInput placeholder='Date' [matDatepicker]="date" formControlName='appraisedByDate'>
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="item item-2" fxFlex="30%">
              <div>
                <mat-form-field fxFlex="100%">
                  <input matInput type='text' formControlName='recommending' placeholder='Recommending'>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field fxFlex="100%">
                  <input matInput placeholder='Date' [matDatepicker]="date1" formControlName='recommendingDate'>
                  <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
                  <mat-datepicker #date1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="item item-3" fxFlex="30%">
              <div>
                <mat-form-field fxFlex="100%">
                  <input matInput type='text' formControlName='approvedBy' placeholder='Approved By'>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field fxFlex="100%">
                  <input matInput placeholder='Date' [matDatepicker]="date2" formControlName='approvedByDate'>
                  <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
                  <mat-datepicker #date2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

          </div>
        </mat-card>
        <br>
        <div>
          Memoranda*
          <div>
            <mat-form-field fxFlex='100%'>
              <textarea matInput formControlName='txtArea'>
                  </textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Record of Superseded Assessment -->
    <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Record of Superseded Assessment</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content formGroupName='rsa'>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <div fxFlex='90%'>
              <div>
                <mat-form-field fxFlex='100%'>
                  <input matInput type='text' formControlName='rsaPin' placeholder='PIN'>
                </mat-form-field>
              </div>
              <div>
                <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
                  fxLayoutGap.xs='10px'>
                  <div class='item item-1' fxFlex='50%'>
                    <mat-form-field fxFlex='100%'>
                      <input matInput type='text' formControlName='rsaArp' placeholder='Arp No.'>
                    </mat-form-field>
                  </div>

                  <div class='item item-2' fxFlex='50%'>
                    <mat-form-field fxFlex='100%'>
                      <input matInput type='text' formControlName='rsaTD' placeholder='TD No.'>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <mat-form-field fxFlex='100%'>
                    <input matInput type='text' formControlName='totalAssessVal' placeholder='Total Assessed Value'>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field fxFlex='100%'>
                    <input matInput type='text' formControlName='prevOwner' placeholder='Previous Owner'>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field fxFlex='100%'>
                    <input matInput type='text' formControlName='effectivityAsmt'
                      placeholder='Effectivity of Assessment'>
                  </mat-form-field>
                </div>
                <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
                  fxLayoutGap.xs='10px'>
                  <div class='item item-1' fxFlex='50%'>
                    <mat-form-field fxFlex='100%'>
                      <input matInput type='text' formControlName='recper' placeholder='Recording Personnel'>
                    </mat-form-field>
                  </div>

                  <div class='item item-1' fxFlex='50%'>
                    <mat-form-field fxFlex='100%'>
                      <input matInput placeholder='Date' [matDatepicker]="date3" formControlName='rsaDate'>
                      <mat-datepicker-toggle matSuffix [for]="date3"></mat-datepicker-toggle>
                      <mat-datepicker #date3></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions align='center'>
      <button mat-raised-button color='primary' type='submit'>Save</button>
      <button mat-raised-button color='warn'>Clear</button>
    </mat-card-actions>
  </mat-card>

</form>
