<div class='bldg-assessment-form'>
  <form class='' [formGroup]='bldgAssessment' (ngSubmit)='save(bldgAssessment.value)' novalidate>

    <mat-card>
			<mat-card-header>
				<mat-card-title>Add Building</mat-card-title>
			</mat-card-header>
			<mat-card-content>
        <mat-card>
					<mat-card-content>
						<table>

              <tr class='width-100'><td>
								<mat-form-field class='width-90'>
									<mat-label>Transaction Code</mat-label>
									<mat-select formControlName='bldgCode' required>
										<mat-option *ngFor='let bldg of bldgOpt' [value]='bldg.value'>{{ bldg.viewVal }}</mat-option>
									</mat-select>
								</mat-form-field>
							</td></tr>

              <tr class='width-100'>
								<td class='width-50'>
									<mat-form-field class='width-80'>
										<input matInput type='text' placeholder='ARP No.' formControlName='arpNo' required>
									</mat-form-field>
								</td>

                <td formGroupName='pin' class='width-50'>
									<span>PIN:* </span>
									<mat-form-field class='width-10'>
										<input matInput type='text' formControlName='city' required>
									</mat-form-field>
									<span>-</span>
									<mat-form-field class='width-10'>
										<input matInput type='text' formControlName='district' required>
									</mat-form-field>
									<span>-</span>
									<mat-form-field class='width-10'>
										<input matInput type='text' formControlName='barangay' required>
									</mat-form-field>
									<span>-</span>
									<mat-form-field class='width-10'>
										<input matInput type='text' formControlName='section' required>
									</mat-form-field>
									<span>-</span>
									<mat-form-field class='width-10'>
										<input matInput type='text' formControlName='parcel' required>
									</mat-form-field>
									<span>&nbsp;&nbsp;&nbsp;</span>
									<button type='button' mat-raised-button color='primary'>Check PIN</button>
								</td>
              </tr>

            </table>
          </mat-card-content>
        </mat-card>
      </mat-card-content>

      <!-- owners -->
      <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Owner Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content formGroupName='ownerDetails'>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='ownfName' placeholder='First name' required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='ownmName' placeholder='Middle name'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='ownlName' placeholder='Last name' required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='ownaddress' placeholder='Address' required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-90'>
                  <input matInput type='text' formControlName='owncontact' placeholder='Contact No.'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-90'>
                  <input matInput type='text' formControlName='ownTIN' placeholder='TIN No.'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td></td>
              <td align='right'>
                <button mat-raised-button type='button' class='width-20' color='primary'>Add</button>
                <button mat-raised-button type='button' class='width-20 ml' color='primary'>Remove</button>
              </td>
            </tr>
          </table><br>

          <table mat-table class='mat-elevation-z8 owner-table' [dataSource]='ownersLs'>
            <ng-container matColumnDef='name'>
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownName }}</td>
            </ng-container>
            <ng-container matColumnDef='address'>
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownAddress }}</td>
            </ng-container>
            <ng-container matColumnDef='contact'>
              <th mat-header-cell *matHeaderCellDef>Contact</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownContact }}</td>
            </ng-container>
            <ng-container matColumnDef='tin'>
              <th mat-header-cell *matHeaderCellDef>TIN</th>
              <td mat-cell *matCellDef='let data'>{{ data.ownTIN }}</td>
            </ng-container>
            <ng-container matColumnDef='actions'>
              <th mat-header-cell *matHeaderCellDef></th>
              <mat-cell *matCellDef='let row'>
                <button type='button' (click)='removeOwnerDetail(row)' mat-icon-button color='warn'><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='ownerHeader'></tr>
            <tr mat-row *matRowDef='let row; columns: ownerHeader'></tr>
          </table>

        </mat-card-content>
      </mat-card>
      </mat-card-content>

      <!-- admin / beneficial users -->
      <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Administrator / Beneficial User</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content formGroupName='adminOwnerLs'>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='admfName' placeholder='First name' required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='admmName' placeholder='Middle name'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='admlName' placeholder='Last name' required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='admaddress' placeholder='Address' required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-90'>
                  <input matInput type='text' formControlName='admcontact' placeholder='Contact No.'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-90'>
                  <input matInput type='text' formControlName='admTIN' placeholder='TIN No.'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td></td>
              <td align='right'>
                <button mat-raised-button type='button' class='width-20' color='primary'>Add</button>
                <button mat-raised-button type='button' class='width-20 ml' color='primary'>Remove</button>
              </td>
            </tr>
          </table>
          <br>

          <table mat-table class='mat-elevation-z8 owner-table' [dataSource]='adminsLs'>
            <ng-container matColumnDef='name'>
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef='let data'>{{ data.admName }}</td>
            </ng-container>
            <ng-container matColumnDef='address'>
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef='let data'>{{ data.admAddress }}</td>
            </ng-container>
            <ng-container matColumnDef='contact'>
              <th mat-header-cell *matHeaderCellDef>Contact</th>
              <td mat-cell *matCellDef='let data'>{{ data.admContact }}</td>
            </ng-container>
            <ng-container matColumnDef='tin'>
              <th mat-header-cell *matHeaderCellDef>TIN</th>
              <td mat-cell *matCellDef='let data'>{{ data.admTIN }}</td>
            </ng-container>
            <ng-container matColumnDef='actions'>
              <th mat-header-cell *matHeaderCellDef></th>
              <mat-cell *matCellDef='let row'>
                <button type='button' (click)='removeAdminDetail(row)' mat-icon-button color='warn'><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='adminHeader'></tr>
            <tr mat-row *matRowDef='let row; columns: adminHeader'></tr>
          </table>
        </mat-card-content>
      </mat-card>
      </mat-card-content>

      <!--buildingLocation-->
      <mat-card-content>
      <mat-card>
        <mat-card-content>
          <mat-card-header>
            <mat-card-subtitle>Building Location</mat-card-subtitle>
          </mat-card-header>
          <table class="width-100">
            <tr class='width-100'>
              <td class='width-50'>
                <mat-form-field class='width-50'>
                  <input matInput type='text' placeholder='No./ Street' formControlName='numSt'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class='width-50'>
                <mat-form-field class='width-50'>
                  <input matInput type='text' placeholder='Bldg./ Location' formControlName='bldgLoc'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class='width-50'>
                <mat-form-field class='width-50'>
                  <input matInput type='text' placeholder='Province' formControlName='prov'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class='width-50'>
                <mat-form-field class='width-50'>
                  <input matInput type='text' placeholder='Brgy./ District' formControlName='brgy'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class='width-50'>
                <mat-form-field class='width-50'>
                  <input matInput type='text' placeholder='Subdivision' formControlName='subd'>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
      </mat-card-content>

      <!--landReference-->
      <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Land Reference</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content formGroupName='landRef'>
          <table class='width-100'>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndOwnr' placeholder='Owner'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndcloa' placeholder='OCT/TCT/CLOA No.'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndsno' placeholder='Survey No.'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndlotno' placeholder='Lot No.'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndblkno' placeholder='Blk No.'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndarp' placeholder='TDN / ARP No.'>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class='width-80'>
                  <input matInput type='text' formControlName='lndarea' placeholder='Area'>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card-content>
        </mat-card>
        </mat-card-content>

        <!--generalDescription -->
        <mat-card-content>
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle>General Description</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content formGroupName='genDescG'>
              <table class="width-100">
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                    <mat-label>Kind of Building:</mat-label>
  									<mat-select formControlName='genDesc' required>
  										<mat-option *ngFor='let kindOfBldg of kof' [value]='kindOfBldg.value'>{{ kindOfBldg.viewVal }}</mat-option>
  									</mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
    									<mat-label>Cert. of Completion Issued On:</mat-label>
    									<mat-select formControlName='certcom' required>
    										<mat-option *ngFor='let cert of coc' [value]='cert.value'>{{ cert.viewVal }}</mat-option>
    									</mat-select>
    								</mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                    <mat-label>Structural Type:</mat-label>
  									<mat-select formControlName='strType' required>
  										<mat-option *ngFor='let sType of st' [value]='sType.value'>{{ sType.viewVal }}</mat-option>
  									</mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
    									<mat-label>Cert. of Occupancy Issued On:</mat-label>
    									<mat-select formControlName='certOcc' required>
    										<mat-option *ngFor='let certOccu of occu' [value]='certOccu.value'>{{ certOccu.viewVal }}</mat-option>
    									</mat-select>
    								</mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='bldgPNo' placeholder='Building Permit No.'>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
    									<mat-label>Date Constructed / Completed:</mat-label>
    									<mat-select formControlName='dateCC' required>
    										<mat-option *ngFor='let dateConsComp of dcc' [value]='dateConsComp.value'>{{ dateConsComp.viewVal }}</mat-option>
    									</mat-select>
    								</mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                    <mat-label>Permit Issued On:</mat-label>
  									<mat-select formControlName='permitIssue' required>
  										<mat-option *ngFor='let permitissued of pio' [value]='permitissued.value'>{{ permitissued.viewVal }}</mat-option>
  									</mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
    									<mat-label>Date Occupied:</mat-label>
    									<mat-select formControlName='dateOccupied' required>
    										<mat-option *ngFor='let dateOccupiedOn of dteOcc' [value]='dateOccupiedOn.value'>{{ dateOccupiedOn.viewVal }}</mat-option>
    									</mat-select>
    								</mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='cct' placeholder='Condominium Certificate of Title (CCT)'>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='aob' placeholder='Age of Building' required>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-card-content>

        <!--StructuralDesctription-->
        <mat-card-content>
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle>Structural Description</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content formGroupName='strDescG'>
              <table class='width-100'>
                <tr>
                  <td class='width-50'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='numStorey' placeholder='No. of Storey:' required>
                    </mat-form-field>
                  </td>
                  <td class="width-50">
                    <mat-card><!-- AREA -->
                      Area
                      <div class="width-100">
                        <div class="width-100">
                        <mat-form-field class='width-40'>
                        <mat-label>Building Floors:</mat-label>
      									<mat-select formControlName='bldgflrs'>
      										<mat-option *ngFor='let bldgFloors of bflr' [value]='bldgFloors.value'>{{ bldgFloors.viewVal }}</mat-option>
      									</mat-select>
                        </mat-form-field>

                        <mat-form-field class='width-40' style='float:right;'>
                        <mat-label>Floor Area (m²):</mat-label>
      									<mat-select formControlName='flrArea'>
      										<mat-option *ngFor='let floorArea of flrA' [value]='floorArea.value'>{{ floorArea.viewVal }}</mat-option>
      									</mat-select>
                        </mat-form-field>
                        </div>

                        <mat-checkbox formControlName='chckBoxFlrA'>Floor with same Area</mat-checkbox>

                        <div class="width-100">
                          <mat-form-field class='width-40'>
                          <mat-label>From</mat-label>
        									<mat-select formControlName='flr1'>
        										<mat-option *ngFor='let floorAreaFrom of flrArea1' [value]='floorAreaFrom.value'>{{ floorAreaFrom.viewVal }}</mat-option>
        									</mat-select>
                          </mat-form-field>

                          <mat-form-field class='width-40' style='float:right;'>
                          <mat-label>To</mat-label>
        									<mat-select formControlName='flr2'>
        										<mat-option *ngFor='let floorAreaTo of flrArea2' [value]='floorAreaTo.value'>{{ floorAreaTo.viewVal }}</mat-option>
        									</mat-select>
                          </mat-form-field>
                        </div>

                        <div class="width-100">
                          <button mat-raised-button type='button' class='width-40' color='primary' style='float:right;'>Apply</button>
                          <br><br>
                        </div>
                      </div>

                    </mat-card>
                  </td>
                </tr>
              </table>

              <!-- Roof-Flooring-wallsAndPartitions -->
              <br>
              <mat-card>
              <table class='width-100'>
                <tr>
                  <td class="width-30">Roof</td>
                  <td class="width-30">Flooring</td>
                  <td class="width-30">Walls and Partitions</td>
                </tr>
                <tr>
                  <td><!-- roof -->
                    <mat-form-field class='width-80'>
                    <mat-label>Materials:</mat-label>
                    <mat-select formControlName='mats'>
                      <mat-option *ngFor='let matsOptions of matsOpts' [value]='matsOptions.value'>{{ matsOptions.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                    <mat-checkbox formControlName='othrsCB'>Others (Specify)</mat-checkbox>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='mats'>
                    </mat-form-field>
                  </td>

                  <td><!-- Flooring -->
                    <mat-form-field class='width-80'>
                    <mat-label>Building Floors:</mat-label>
                    <mat-select formControlName='bldgflrs2'>
                      <mat-option *ngFor='let bflrs2 of bldgflrsOpts' [value]='bflrs2.value'>{{ bflrs2.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-form-field class='width-80'>
                    <mat-label>Material:</mat-label>
                    <mat-select formControlName='mats2'>
                      <mat-option *ngFor='let mtrl of mats2' [value]='mtrl.value'>{{ mtrl.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-checkbox formControlName='othrsCB2'>Others (Specify)</mat-checkbox>

                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='othrs2'>
                    </mat-form-field>

                    <mat-checkbox formControlName='flrsameMatsCB'>Floor w/ same Materials</mat-checkbox>

                    <div class="width-80">
                      <mat-form-field class='width-40'>
                      <mat-label>From</mat-label>
                      <mat-select formControlName='flr3'>
                        <mat-option *ngFor='let floorAreaFrom3 of flrArea3' [value]='floorAreaFrom3.value'>{{ floorAreaFrom3.viewVal }}</mat-option>
                      </mat-select>
                      </mat-form-field>

                      <mat-form-field class='width-40' style='float:right;'>
                      <mat-label>To</mat-label>
                      <mat-select formControlName='flr4'>
                        <mat-option *ngFor='let floorAreaFrom4 of flrArea4' [value]='floorAreaFrom4.value'>{{ floorAreaFrom4.viewVal }}</mat-option>
                      </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="width-80">
                    <button mat-raised-button type='button' class='width-40' color='primary' style="float:right;">Apply</button>
                    </div>

                  </td>

                  <td><!--wallsAndPartitions-->

                    <mat-form-field class='width-80'>
                    <mat-label>Building Floors:</mat-label>
                    <mat-select formControlName='bldgflrs3'>
                      <mat-option *ngFor='let bflrs3 of bldgflrsOpts2' [value]='bflrs3.value'>{{ bflrs3.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-form-field class='width-80'>
                    <mat-label>Material:</mat-label>
                    <mat-select formControlName='mats3'>
                      <mat-option *ngFor='let mtrls2 of mats3' [value]='mtrls2.value'>{{ mtrls2.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-checkbox formControlName='othrsCB3'>Others (Specify)</mat-checkbox>

                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='othrs3'>
                    </mat-form-field>

                    <mat-checkbox formControlName='flrsameMatsCB2'>Floor w/ same Materials</mat-checkbox>

                    <div class="width-80">
                      <mat-form-field class='width-40'>
                      <mat-label>From</mat-label>
                      <mat-select formControlName='flr5'>
                        <mat-option *ngFor='let floorAreaFrom5 of flrArea5' [value]='floorAreaFrom5.value'>{{ floorAreaFrom5.viewVal }}</mat-option>
                      </mat-select>
                      </mat-form-field>

                      <mat-form-field class='width-40' style='float:right;'>
                      <mat-label>To</mat-label>
                      <mat-select formControlName='flr6'>
                        <mat-option *ngFor='let floorAreaFrom6 of flrArea6' [value]='floorAreaFrom6.value'>{{ floorAreaFrom6.viewVal }}</mat-option>
                      </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="width-80">
                    <button mat-raised-button type='button' class='width-40' color='primary' style="float:right;">Apply</button>
                    </div>

                  </td>
                </tr>
              </table>
              </mat-card>
              <!-- -->

              <!-- FLOOR HEIGHT - BASIC RATE PER METER - ADJUSTED BASIC RATE - BUILDING FLOORS -->
              <br>
              <table class="width-100">
                <tr>
                  <td class='width-30'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='flrheight' placeholder="Floor Height">
                    </mat-form-field>
                  </td>
                  <td class='width-30'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='basicRatePerMeter' placeholder="Basic Rate Per Meter(%)">
                    </mat-form-field>
                  </td>
                  <td class='width-30'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='adjstdBasicRate' placeholder="Adjusted Basic Rate">
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='stndrdheight' placeholder="Standard Height">
                    </mat-form-field>
                  </td>
                  <td class='width-30'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='basicRateVal' placeholder="Basic Rate Value">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
                    <mat-label>Floor Type</mat-label>
                    <mat-select formControlName='floortype'>
                      <mat-option *ngFor='let ftype of floortypeOpts' [value]='ftype.value'>{{ ftype.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='xcessDefHeight' placeholder="Excess / Deficient Height">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='aCost' placeholder="Additional Cost">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
                    <mat-label>Building Floors:</mat-label>
                    <mat-select formControlName='buildingFlrs'>
                      <mat-option *ngFor='let bflrsopts of buildingFlrsOpts' [value]='bflrsopts.value'>{{ bflrsopts.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                  <mat-checkbox formControlName='flrsameMatsCB3'>Floor w/ same Materials</mat-checkbox>
                  </td>
                  <td>
                    <div class="width-80">
                    <mat-form-field class='width-40'>
                    <mat-label>From</mat-label>
                    <mat-select formControlName='flr5'>
                      <mat-option *ngFor='let floorAreaFrom5 of flrArea5' [value]='floorAreaFrom5.value'>{{ floorAreaFrom5.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-form-field class='width-40' style='float:right;'>
                    <mat-label>To</mat-label>
                    <mat-select formControlName='flr6'>
                      <mat-option *ngFor='let floorAreaFrom6 of flrArea6' [value]='floorAreaFrom6.value'>{{ floorAreaFrom6.viewVal }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <div class='width-80'>
                    <button mat-raised-button type='button' class='width-40' color='primary' style="float:right;">Apply</button>
                    </div>
                  </td>
                </tr>
              </table>

              <!-- Structural Description Table -->
              <table mat-table class='mat-elevation-z8 owner-table'>
                <ng-container matColumnDef='Floor No.'>
                  <th mat-header-cell *matHeaderCellDef>Floor No.</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Area'>
                  <th mat-header-cell *matHeaderCellDef>Area</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Flooring Material'>
                  <th mat-header-cell *matHeaderCellDef>Flooring Material</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Wall Material'>
                  <th mat-header-cell *matHeaderCellDef>Wall Material</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Floor Height'>
                  <th mat-header-cell *matHeaderCellDef>Floor Height</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Standard Height'>
                  <th mat-header-cell *matHeaderCellDef>Standard Height</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Adjusted Basic Rate'>
                  <th mat-header-cell *matHeaderCellDef>Adjusted Basic Rate</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>
                <ng-container matColumnDef='Floor Type'>
                  <th mat-header-cell *matHeaderCellDef>Floor Type</th>
                  <td mat-cell *matCellDef='let data'></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef='strDescHeader'></tr>
                <tr mat-row *matRowDef='let row; columns: strDescHeader'></tr>
              </table>

              <table class='width-100 mt'>
                <tr>
                  <td class='width-50'>
                    <div style='float: right;'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='totalArea' placeholder="Total Area:">
                    </mat-form-field>
                    </div>
                  </td>
                  <td class='width-50'>
                    <div style='float: right;'>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='totalCost' placeholder="Total Cost:">
                    </mat-form-field>
                    </div>
                  </td>
                </tr>
              </table>
              <!-- -->
            </mat-card-content>
          </mat-card>
        </mat-card-content>

        <!-- Additional Items -->
        <mat-card-content>
        <mat-card>
          <mat-card-header>
    				<mat-card-subtitle>Additional Items</mat-card-subtitle>
    			</mat-card-header>
          <mat-card-content formGroupName='additionalItems'>
            <table class='width-100'>
              <tr>
                <td class="width-50">
                  <mat-form-field class='width-80'>
                  <mat-label>Additional Item</mat-label>
                  <mat-select formControlName='aItem'>
                    <mat-option *ngFor='let aiOpts of aItemOpts' [value]='aiOpts.value'>{{ aiOpts.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                  <mat-label>Sub Type</mat-label>
                  <mat-select formControlName='aItem'>
                    <mat-option *ngFor='let sbtypOpts of stOpts' [value]='sbtypOpts.value'>{{ sbtypOpts.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='szem2' placeholder='Size (m²)' required>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='uCost' placeholder='Unit Cost'>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='tCost' placeholder='Total Cost'>
                  </mat-form-field>

                  <div class="width-80">
                      <button mat-raised-button type='button' class='width-20 ml' color='primary' style="float:right;">Remove</button>
                      <button mat-raised-button type='button' class='width-20' color='primary' style="float:right;">Add</button>
                  </div>
                </td>

                <td class="width-50">
                  <!--Additional Items Table-->
                  <table mat-table class='mat-elevation-z8 owner-table'>
                    <ng-container matColumnDef='aItm'>
                      <th mat-header-cell *matHeaderCellDef>Additional Item</th>
                      <td mat-cell *matCellDef='let data'></td>
                    </ng-container>
                    <ng-container matColumnDef='sType'>
                      <th mat-header-cell *matHeaderCellDef>Sub Type</th>
                      <td mat-cell *matCellDef='let data'></td>
                    </ng-container>
                    <ng-container matColumnDef='sizem2'>
                      <th mat-header-cell *matHeaderCellDef>Size (m²)</th>
                      <td mat-cell *matCellDef='let data'></td>
                    </ng-container>
                    <ng-container matColumnDef='untCost'>
                      <th mat-header-cell *matHeaderCellDef>Unit Cost</th>
                      <td mat-cell *matCellDef='let data'></td>
                    </ng-container>
                    <ng-container matColumnDef='totalC'>
                      <th mat-header-cell *matHeaderCellDef>Total Cost</th>
                      <td mat-cell *matCellDef='let data'></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='aItemHeader'></tr>
                    <tr mat-row *matRowDef='let row; columns: aItemHeader'></tr>
                  </table>

                  <div class="width-100 mt">
                    <mat-form-field class='width-30' style='float:right;'>
                      <input matInput type='text' formControlName='aItemTotal' placeholder='Total:'>
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        </mat-card-content>

        <!-- Property Appraisal -->
        <mat-card-content>
        <mat-card>
          <mat-card-header>
    				<mat-card-subtitle>Property Appraisal</mat-card-subtitle>
    			</mat-card-header>
          <mat-card-content formGroupName='propertyAppraisal'>
            <mat-checkbox formControlName='unPainted'>Unpainted</mat-checkbox>
            &nbsp;&nbsp;
            <mat-checkbox formControlName='scndhndMat'>Second Hand Material</mat-checkbox>

            <table class="width-100">
              <tr>
                <td class="width-30">
                  <mat-form-field class='width-80'>
                  <mat-label>Type of Building:</mat-label>
                  <mat-select formControlName='tob' required>
                    <mat-option *ngFor='let typOfBldg of toBldg' [value]='typOfBldg.value'>{{ typOfBldg.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>
                </td>
                <td class="width-30">
                  <mat-form-field class='width-80'>
                  <mat-label>Building Rating:</mat-label>
                  <mat-select formControlName='bldgRating' required>
                    <mat-option *ngFor='let bldgRtng of bRating' [value]='bldgRtng.value'>{{ bldgRtng.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>
                </td>
                <td class="width-30"></td>
              </tr>
            </table>

              <table class="width-100">
                <tr>
                  <td class="width-30">
                    Building Core
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='untConstCost' placeholder='Unit Construction Cost:'>
                    </mat-form-field>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='subTotal' placeholder='Sub - Total:'>
                    </mat-form-field>
                  </td>
                  <td class="width-30">
                    Cost of Additional Items
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='CoAiSubTotal' placeholder='Sub - Total:'>
                    </mat-form-field>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='totalConstCost' placeholder='Total Construction Cost:'>
                    </mat-form-field>
                  </td>
                  <td class="width-30">
                    Depreciation
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='depRate' placeholder='Depreciation Rate:'>
                    </mat-form-field>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='totalDep' placeholder='Total % Depreciation:'>
                    </mat-form-field>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='depCost' placeholder='Depreciation Cost:'>
                    </mat-form-field>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='marketVal' placeholder='Market Value:'>
                    </mat-form-field>
                  </td>
                </tr>
              </table>

          </mat-card-content>
        </mat-card>
        </mat-card-content>

        <!--propertyAssessment-->
        <mat-card-content formGroupName='propertyAssessment'>
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle>Property Assessment</mat-card-subtitle>
            </mat-card-header>
            <table class="width-100">
              <tr>
                <td class='width-50'>
                  <mat-form-field class='width-80'>
                  <mat-label>Actual Use:</mat-label>
                  <mat-select formControlName='actualUse' required>
                    <mat-option *ngFor='let auOpts of actualUseOpts' [value]='auOpts.value'>{{ auOpts.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='propAsmtMarketVal' placeholder='Market Value:'>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='AsmtLevel' placeholder='Assessment Level (%):'>
                  </mat-form-field>

                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='AsmtVal' placeholder='Assessment Value:'>
                  </mat-form-field>
                </td>

                <td class="width-50">
                  <mat-checkbox formControlName='spclClass'>Special Class</mat-checkbox>

                  <mat-form-field class='width-80'>
                  <mat-label>Status:</mat-label>
                  <mat-select formControlName='status' required>
                    <mat-option *ngFor='let statusOpt of statsOpts' [value]='statusOpt.value'>{{ statusOpt.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <br>Effectivity of Assessment / Reassessment*
                  <div class="width-80">
                  <mat-form-field class='width-40'>
                  <mat-label>Quarter:</mat-label>
                  <mat-select formControlName='qrtr'>
                    <mat-option *ngFor='let quarterOpts of qrtrOpts' [value]='quarterOpts.value'>{{ quarterOpts.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <!--<mat-form-field clas='width-40px;'>
                    <input matInput placeholder='Year' [matDatepicker]="year">
                    <mat-datepicker-toggle matSuffix [for]="year"></mat-datepicker-toggle>
                    <mat-datepicker #year></mat-datepicker>
                  </mat-form-field>-->

                  <mat-form-field class='width-40' style="float:right;">
                  <mat-label>Year:</mat-label>
                  <mat-select formControlName='yr'>
                    <mat-option *ngFor='let years of yrOpts' [value]='years.value'>{{ years.viewVal }}</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <mat-form-field class='width-100'>
                    <input matInput type='text' formControlName='propAsmtTotal' placeholder='Total:'>
                  </mat-form-field>
                  </div>
                </td>
              </tr>
            </table>

            <mat-card>
            <table>
              <tr>
                <td class="width-30">
                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='appraisedBy' placeholder='Appraised By:'>
                  </mat-form-field>

                  <mat-form-field class='width-80px;'>
                    <input matInput placeholder='Date:' [matDatepicker]="date" formControlName='appraisedByDate'>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                  </mat-form-field>
                </td>

                <td class="width-30">
                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='recommending' placeholder='Recommending:'>
                  </mat-form-field>

                  <mat-form-field class='width-80px;'>
                    <input matInput placeholder='Date:' [matDatepicker]="date1" formControlName='recommendingDate'>
                    <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
                    <mat-datepicker #date1></mat-datepicker>
                  </mat-form-field>
                </td>

                <td class="width-30">
                  <mat-form-field class='width-80'>
                    <input matInput type='text' formControlName='approvedBy' placeholder='Approved By:'>
                  </mat-form-field>

                  <mat-form-field class='width-80px;'>
                    <input matInput placeholder='Date:' [matDatepicker]="date2" formControlName='approvedByDate'>
                    <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
                    <mat-datepicker #date2></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            </mat-card>

            <br>
            Memoranda*
            <mat-form-field class="width-100">
              <textarea matInput formControlName='txtArea' style="resize:none;">
              </textarea>
            </mat-form-field>

          </mat-card>
        </mat-card-content>

        <!-- Record of Superseded Assessment -->
        <mat-card-content>
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle>Record of Superseded Assessment</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content formGroupName='rsa'>
              <table class="width-100">
                <tr>
                  <td colspan='2'>
                    <mat-form-field class='width-90'>
                      <input matInput type='text' formControlName='rsaPin' placeholder='PIN:'>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='rsaArp' placeholder='Arp No.:'>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='rsaTD' placeholder='TD No.:'>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <mat-form-field class='width-90'>
                      <input matInput type='text' formControlName='totalAssessVal' placeholder='Total Assessed Value:'>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <mat-form-field class='width-90'>
                      <input matInput type='text' formControlName='prevOwner' placeholder='Previous Owner:'>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <mat-form-field class='width-90'>
                      <input matInput type='text' formControlName='effectivityAsmt' placeholder='Effectivity of Assessment:'>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class='width-80'>
                      <input matInput type='text' formControlName='recper' placeholder='Recording Personnel:'>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class='width-80px;'>
                      <input matInput placeholder='Date:' [matDatepicker]="date3" formControlName='rsaDate'>
                      <mat-datepicker-toggle matSuffix [for]="date3"></mat-datepicker-toggle>
                      <mat-datepicker #date3></mat-datepicker>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
          <mat-card-actions align='center'>
            <button mat-raised-button color='primary' type='submit'>Save</button>
            <button mat-raised-button color='warn'>Clear</button>
          </mat-card-actions>
    </mat-card>

  </form>
</div>
