<div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='center'>
  <div class='item item-1' fxFlex='30%' fxLayoutAlign='center center'>
    <button class='aBtn' mat-raised-button (click)='landAssessment()' color='primary'>Land Assessment</button>
  </div>
  <div class='item item-2' fxFlex='30%' fxLayoutAlign='center center'>
    <button class='aBtn' mat-raised-button (click)='buildingAssessment()' color='primary'>Building Assessment</button>
  </div>
  <div class='item item-3' fxFlex='30%' fxLayoutAlign='center center'>
    <button class='aBtn' mat-raised-button color='primary'>Machinery Assessment</button>
  </div>
  <br><br><br><br>
</div>
