.mat-radio-button { margin: 0px 20px 0px 20px; }
.ltax-con { width: 1000px; height: 300px; overflow: auto }
.mat-cell,
.mat-header-cell { border: 1px solid #e0e0e0; padding-left: 10px; padding-right: 10px}