<mat-card>
  <mat-card-header>
    <mat-card-title>Land Tax</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class='container' fxLayout='column' fxLayout.xs='column' fxLayoutGap='10px' fxLayoutGap.xs='10px'>
      <label>Search record in:</label>
      <mat-radio-group class='item item-1' fxFlex='40%' [(ngModel)]='param1'>
        <mat-radio-button *ngFor='let p1 of params1' [value]='p1.value'>{{ p1.viewVal }}</mat-radio-button>
      </mat-radio-group>
      <label>Search record by:</label>
      <mat-radio-group class='item item-2' fxFlex='40%' [(ngModel)]='param2'>
        <mat-radio-button *ngFor='let p2 of params2' [value]='p2.value'>{{ p2.viewVal }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <br>
    <div class='container' fxLayout fxLayout.xs='column' fxLayoutGap='10px' fxLayoutGap.xs='10px'>
      <mat-form-field class='item item-1' fxFlex='40%'>
        <input matInput type='text' placeholder='Enter input here' [(ngModel)]='req'>
      </mat-form-field>
      <button mat-raised-button class='item item-2' fxFlex='15%' color='primary' (click)='search()'>Search</button>
    </div>
    <mat-card>
      <mat-card-content>
        <div class='container' fxLayout fxLayout.xs='column' fxLayoutGap='10px' fxLayout.xs='10px'>
          <div class='ltax-con item item-1' fxFlex='60%'>
            <table mat-table class='mat-elevation-z8' [dataSource]='LTTable'>
              <ng-container matColumnDef='arpNo'>
                <th mat-header-cell *matHeaderCellDef>ARP No.</th>
                <td mat-cell *matCellDef='let data'>{{ data.arpNo }}</td>
              </ng-container>
              <ng-container matColumnDef='pin'>
                <th mat-header-cell *matHeaderCellDef>PIN</th>
                <td mat-cell *matCellDef='let data'>{{ data.pin }}</td>
              </ng-container>
              <ng-container matColumnDef='surveyNo'>
                <th mat-header-cell *matHeaderCellDef>Survey No.</th>
                <td mat-cell *matCellDef='let data'>{{ data.surveyNo }}</td>
              </ng-container>
              <ng-container matColumnDef='lotNo'>
                <th mat-header-cell *matHeaderCellDef>Lot No.</th>
                <td mat-cell *matCellDef='let data'>{{ data.lotNo }}</td>
              </ng-container>
              <ng-container matColumnDef='blockNo'>
                <th mat-header-cell *matHeaderCellDef>Block No.</th>
                <td mat-cell *matCellDef='let data'>{{ data.blockNo }}</td>
              </ng-container>
              <ng-container matColumnDef='streetNo'>
                <th mat-header-cell *matHeaderCellDef>Street No.</th>
                <td mat-cell *matCellDef='let data'>{{ data.streetNo }}</td>
              </ng-container>
              <ng-container matColumnDef='brgy'>
                <th mat-header-cell *matHeaderCellDef>Barangay</th>
                <td mat-cell *matCellDef='let data'>{{ data.brgy }}</td>
              </ng-container>
              <ng-container matColumnDef='subd'>
                <th mat-header-cell *matHeaderCellDef>Subdivision</th>
                <td mat-cell *matCellDef='let data'>{{ data.subd }}</td>
              </ng-container>
              <ng-container matColumnDef='city'>
                <th mat-header-cell *matHeaderCellDef>City</th>
                <td mat-cell *matCellDef='let data'>{{ data.city }}</td>
              </ng-container>
              <ng-container matColumnDef='province'>
                <th mat-header-cell *matHeaderCellDef>Province</th>
                <td mat-cell *matCellDef='let data'>{{ data.province }}</td>
              </ng-container>
              <ng-container matColumnDef='class'>
                <th mat-header-cell *matHeaderCellDef>Class</th>
                <td mat-cell *matCellDef='let data'>{{ data.class }}</td>
              </ng-container>
              <ng-container matColumnDef='subclass'>
                <th mat-header-cell *matHeaderCellDef>Subclass</th>
                <td mat-cell *matCellDef='let data'>{{ data.subclass }}</td>
              </ng-container>
              <ng-container matColumnDef='area'>
                <th mat-header-cell *matHeaderCellDef>Area</th>
                <td mat-cell *matCellDef='let data'>{{ data.area }}</td>
              </ng-container>
              <ng-container matColumnDef='assessedVal'>
                <th mat-header-cell *matHeaderCellDef>Assessed Value</th>
                <td mat-cell *matCellDef='let data'>{{ data.assessedVal }}</td>
              </ng-container>
              <ng-container matColumnDef='stat'>
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef='let data'>{{ data.stat }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef='lTaxHeader'></tr>
              <tr mat-row *matRowDef='let row; columns: lTaxHeader'></tr>
            </table>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>