.mat-radio-button { margin: 0px 5px 0px 5px; }
.ltax-con { width: 50%; height: 300px; overflow: auto }
.ltax-con-inf {
   width: 50%;
   height: 300px;
   overflow: auto;
}
.mat-cell,
.mat-header-cell { border: 1px solid #e0e0e0; padding-left: 10px; padding-right: 10px}
.h { height: 10px; }
.LTTableW { width: 100% }
@media (max-width: 1001px) { .LTTableW { width: 90% } }
