/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
	font-family: 'CenturyGothic';
	src: url('./assets/font/CenturyGothic.ttf');
}
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'CenturyGothic');

@include mat-core($custom-typography);

$def-theme-primary: mat-palette($mat-blue, A700);
$def-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$def-theme-warn: mat-palette($mat-red);

$sys-theme: mat-light-theme($def-theme-primary, $def-theme-accent, $def-theme-warn);

@include angular-material-theme($sys-theme);



html, body { height: 100%; }
body { margin: 0;  font-family: 'CenturyGothic' !important;}
