<mat-grid-list cols='12' rowHeight='100%'>
	<mat-grid-tile [colspan]='1'></mat-grid-tile>
	<mat-grid-tile [colspan]='10'>
		<form class='width-100' [formGroup]='landAssessment' (ngSubmit)='save(landAssessment.value)' novalidate>
			<mat-card>
				<mat-card-header><mat-card-title>Add Land</mat-card-title></mat-card-header>
				<mat-card-content>
					<!-- grp 1 -->
					<mat-card>
						<mat-card-content>
							<table>
								<!-- row 1 -->
								<tr class='width-100'><td>
									<mat-form-field class='width-90'>
										<mat-label>Transaction Code</mat-label>
										<mat-select formControlName='trnsCode' required>
											<mat-option *ngFor='let trns of trnsLs' [value]='trns.value'>{{ trns.viewVal }}</mat-option>
										</mat-select>
									</mat-form-field>
								</td></tr>
								<!-- row 2 -->
								<tr class='width-100'>
									<td class='width-20'>
										<mat-form-field class='width-80'>
											<input matInput type='text' placeholder='ARP No.' formControlName='arpNo' required>
										</mat-form-field>
									</td>
									<td formGroupName='pin' class='width-80'>
										<span>PIN: </span>
										<mat-form-field class='width-10'>
											<input matInput type='text' formControlName='city' required>
										</mat-form-field>
										<span>-</span>
										<mat-form-field class='width-10'>
											<input matInput type='text' formControlName='district' required>
										</mat-form-field>
										<span>-</span>
										<mat-form-field class='width-10'>
											<input matInput type='text' formControlName='barangay' required>
										</mat-form-field>
										<span>-</span>
										<mat-form-field class='width-10'>
											<input matInput type='text' formControlName='section' required>
										</mat-form-field>
										<span>-</span>
										<mat-form-field class='width-10'>
											<input matInput type='text' formControlName='parcel' required>
										</mat-form-field>
										<span>&nbsp;&nbsp;&nbsp;</span>
										<button mat-raised-button color='primary'>Check PIN</button>
									</td>
								</tr>
								<!-- row 3 -->
								<tr class='width-100'>
									<td class='width-50'>
										<mat-form-field class='width-80'>
											<input matInput type='text' placeholder='OCT / TCT No.' formControlName='OCT_TCT' required>
										</mat-form-field>
									</td>
									<td class='width-50'>
										<mat-form-field class='width-80'>
											<input matInput type='text' placeholder='Survey No.' formControlName='surveyNo' required>
										</mat-form-field>
									</td>
								</tr>
								<!-- row 4 -->
								<tr class='width-100'>
									<td class='width-50'>
										<mat-form-field class='width-80'>
											<input matInput type='text' placeholder='Lot No.' formControlName='lotNo' required>
										</mat-form-field>
									</td>
									<td class='width-50'>
										<mat-form-field class='width-80'>
											<input matInput type='text' placeholder='Block No.' formControlName='blockNo' required>
										</mat-form-field>
									</td>
								</tr>
							</table>
						</mat-card-content>
					</mat-card>
					<!-- grp 2 -->
					<mat-card>
						<mat-card-header>
							<mat-card-title>Property Location</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<table formGroupName='propertyLocation'>
								<tr class='width-100'>
									<td class='width-50'>
										<mat-form-field class='width-90'>
											<input matInput type='text' placeholder='No. / Street' formControlName='streetNo' required>
										</mat-form-field>
									</td>
									<td class='width-50'>
										<!-- <mat-form-field class='width-90'>

										</mat-form-field> -->
									</td>
								</tr>
							</table>
						</mat-card-content>
					</mat-card>
				</mat-card-content>
			</mat-card>
		</form>
	</mat-grid-tile>
	<mat-grid-tile [colspan]='1'></mat-grid-tile>
</mat-grid-list>
