<form [formGroup]='landAssessment' (ngSubmit)='save(landAssessment.value)' novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Land</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Transaction code -->
      <mat-card>
        <mat-card-content>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <mat-label>Transaction Code</mat-label>
              <mat-select formControlName='trnsCode'>
                <mat-option *ngFor='let trns of trnsLs' [value]='trns.value'>{{ trns.viewVal }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <input matInput type='text' placeholder='ARP No.' formControlName='arpNo' required>
            </mat-form-field>
            <div formGroupName='pin' class='item item-2' fxFlex='70%'>
              <span>PIN: </span>
              <mat-form-field class='width-10'>
                <input matInput type='text' formControlName='city' required>
              </mat-form-field>
              <span>-</span>
              <mat-form-field class='width-10'>
                <input matInput type='text' formControlName='district' required>
              </mat-form-field>
              <span>-</span>
              <mat-form-field class='width-10'>
                <input matInput type='text' formControlName='barangay' required>
              </mat-form-field>
              <span>-</span>
              <mat-form-field class='width-10'>
                <input matInput type='text' formControlName='section' required>
              </mat-form-field>
              <span>-</span>
              <mat-form-field class='width-10'>
                <input matInput type='text' formControlName='parcel' required>
              </mat-form-field>
              <span>&nbsp;&nbsp;&nbsp;</span>
              <button type='button' mat-raised-button color='primary'>Check PIN</button>
            </div>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='40%'>
              <input matInput type='text' placeholder='OCT / TCT No.' formControlName='OCT_TCT' required>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='40%'>
              <input matInput type='text' placeholder='Survey No.' formControlName='surveyNo' required>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='40%'>
              <input matInput type='text' placeholder='Lot No.' formControlName='lotNo' required>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='40%'>
              <input matInput type='text' placeholder='Block No.' formControlName='blockNo' required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Property Location -->
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Property Location</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content formGroupName='propertyLocation'>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='40%'>
              <input matInput type='text' placeholder='No. / Street' formControlName='streetNo' required>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='40%'>
              <input matInput type='text' placeholder='Brgy. / District' formControlName='barangay' required>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <input matInput type='text' placeholder='City / Municipality' formControlName='city' required>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='30%'>
              <input matInput type='text' placeholder='Subdivision' formControlName='subdivision' required>
            </mat-form-field>
            <mat-form-field class='item item-3' fxFlex='30%'>
              <input matInput type='text' placeholder='Province' formControlName='province' required>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='40%'>
              <input matInput type='text' placeholder='North' formControlName='north' required>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='40%'>
              <input matInput type='text' placeholder='South' formControlName='south' required>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='40%'>
              <input matInput type='text' placeholder='East' formControlName='east' required>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='40%'>
              <input matInput type='text' placeholder='West' formControlName='west' required>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Owner Details -->
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Owner Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content formGroupName='ownerDetails'>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <input matInput type='text' formControlName='ownfName' placeholder='First name'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='30%'>
              <input matInput type='text' formControlName='ownmName' placeholder='Middle name'>
            </mat-form-field>
            <mat-form-field class='item item-3' fxFlex='30%'>
              <input matInput type='text' formControlName='ownlName' placeholder='Last name'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='90%'>
              <input matInput type='text' formControlName='ownaddress' placeholder='Address'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='left' fxLayoutGap='10px'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <input matInput type='text' formControlName='owncontact' placeholder='Contact No.'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='30%'>
              <input matInput type='text' formControlName='ownTIN' placeholder='TIN No.'>
            </mat-form-field>
            <button mat-raised-button type='button' class='item item-3' fxFlex='30%' color='primary'
              (click)='addOwner()'>Add</button>
          </div>
          <br>
          <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='left'>
            <table mat-table class='lnd-table mat-elevation-z8 item item-1' fxFlex='90%' [dataSource]=' ownersLs'>
              <ng-container matColumnDef='name'>
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef='let data'>{{ data.ownName }}</td>
              </ng-container>
              <ng-container matColumnDef='address'>
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef='let data'>{{ data.ownAddress }}</td>
              </ng-container>
              <ng-container matColumnDef='contact'>
                <th mat-header-cell *matHeaderCellDef>Contact</th>
                <td mat-cell *matCellDef='let data'>{{ data.ownContact }}</td>
              </ng-container>
              <ng-container matColumnDef='tin'>
                <th mat-header-cell *matHeaderCellDef>TIN</th>
                <td mat-cell *matCellDef='let data'>{{ data.ownTIN }}</td>
              </ng-container>
              <ng-container matColumnDef='actions'>
                <th mat-header-cell *matHeaderCellDef></th>
                <mat-cell *matCellDef='let row'>
                  <button type='button' (click)='removeOwnerDetail(row)' mat-icon-button color='warn'>
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef='ownerHeader'></tr>
              <tr mat-row *matRowDef='let row; columns: ownerHeader'></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Admin -->
    </mat-card-content>
  </mat-card>
</form>
